body {margin:0; background-color:var(--background-color);}

:root{
    
/*MENU LINKS*/
  --first-menu-link: url(pages/portfolio.html);
  --second-menu-link: ;
  --third-menu-link: ;
  --fourth-menu-link: ;
  --fifth-menu-link: ;

/*MAIN PAGE LINKS & PHOTOS*/
  --first-link: ;
  --second-link: ;
  --third-link: ;
  --fourth-link: ;
  /*--first-picture: url(https://www.thelocal.se/userdata/images/article/fb261367cafe9bc9e39d96445138e1ec924c0d49b11a195992579eb9e715ae54.jpg);
  --second-picture: ;
  --third-picture: ;
  --fourtht-picture: ;*/

/**BACKGROUND COLORS**/
  --background-color: rgb(255, 255, 250);
  --secondary-color: rgb(250, 250, 245);
  --background-hover-color: rgb(220, 220, 215);
  --accent-color: black;
  --accent-color-2: rgb(200, 200, 200);
  --text-box-color: rgba(255, 255, 250, 0.3);
  --text-box-hover: rgba(255, 255, 250, 0.8);

/**FONT**/
  --font: didot, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  --font-color: black;
  --font-color-secondary: rgb(100, 100, 100);
  --font-color-pale: rgb(100, 100, 100);
  --font-size: 20px;
  --title-font-color: rgb(58, 58, 58);
  --title-font-size: 40px;
  --page-title-font-size: 100px;
  --link-color: ;
  --link-color-hover: black;
  
/**HEADER**/
  --header-height: 100px;
  --header-link-height: 50px;
  --header-hover-height: 150px; /**add header & link height**/
  --header-background-color: rgb(240, 240, 235);
  --header-font-color: rgb(94, 94, 94);
  --header-font-size: 50px;
  --header-link-font-size: 20px;
  --header-link-static: ;
  
/**FOOTER**/
  --footer-height: 100px;
  --footer-font-color: rgb(94, 94, 94);
  --footer-font-size: 15px;

/**BLOCK SETTINGS**/
  --block-height: 500px;
  --block-width: 100%;
  --block-max-width: ;
  --block-padding: ;
  --block-image-scale: ;
  --block-image-scale-hover: ;
  --block-hover-color: ;
  --border-width: 1px;
  
/**PORTFOLIO SETTINGS**/
  --portfolio-padding: 5px;
  --portfolio-block-padding: 50px;
  
  }
    
    #header{box-shadow: 0px 0px 30px var(--background-color); width:100%; position:fixed; height:var(--header-height); background-color:var(--secondary-color); -webkit-transition:1s; /**text-align:bottom;**/ border-bottom-style:solid; border-color:var(--accent-color); border-width:var(--border-width); z-index:10;}
    #header:hover, #header:active{box-shadow: 0px -10px 0px var(--background-color); height:var(--header-hover-height); -webkit-transition:1s; overflow:hidden; background-color:var(--secondary-color);}
    #header-title{text-shadow: 2px 2px 7px var(--background-hover-color); width:100%; height:var(--header-height); background-color:var(--background-color); position:fixed; text-align:center; border-bottom-style:solid; border-color:var(--accent-color); border-width:var(--border-width); -webkit-transition:1s;}
    #header:hover #header-title{text-shadow: 2px 2px 30px var(--font-color-secondary); width:100%; background-color:var(--header-background-color); -webkit-transition:1s;}
    .header-title{color:var(--font-color); font-family: var(--font); font-size:var(--header-font-size); text-align:center; line-height:var(--header-height); z-index:10; text-decoration:none;}
    .header-link-buttons{color:var(--header-font-color); font-family: var(--font); font-size:var(--header-link-font-size); margin-top:50px; -webkit-transition:1s; text-decoration:none; padding-left:20px; padding-right:20px; line-height:var(--header-link-height);}
    .block-align-header-links{height:100%; display:flex; align-items:center; justify-content:center; z-index:9; overflow:hidden;}
    #header:hover .header-link-buttons{margin-top:var(--header-height); -webkit-transition:0.5s;}
    .header-link-buttons:hover, .header-link-buttons:active{color:var(--link-color-hover); background-color:var(--header-background-color);}
    .dividers{height:100%; border-right-style:solid; border-color:var(--accent-color-2); border-width:var(--border-width);}
       

#mobile-menu {display:none; position:fixed; cursor:pointer; float:left; vertical-align:center; height:42px; margin:calc(var(--header-height) / 2 - 21px); z-index: 11;}
@media screen and (max-width: 768px) { #mobile-menu {display: block;} }

.bar1, .bar2, .bar3 {width: 36px; height: 6px; background-color: #333; margin: 6px 0; transition: 0.4s;}
/* Rotate first bar */
.change .bar1 {-webkit-transform: rotate(-45deg) translate(-9px, 9px) ; transform: rotate(-45deg) translate(-9px, 9px) ;}
/* Fade out the second bar */
.change .bar2 {opacity: 0;}
/* Rotate last bar */
.change .bar3 {-webkit-transform: rotate(45deg) translate(-8px, -8px) ; transform: rotate(45deg) translate(-8px, -8px) ;}

.change #header{box-shadow: 0px -10px 0px var(--background-color); height:var(--header-hover-height); -webkit-transition:1s; overflow:hidden; background-color:var(--secondary-color);}

    
    .title{color:var(--font-color-secondary); font-family: var(--font); font-size:var(--header-font-size); text-align:center; line-height:var(--header-height); text-decoration:none;}
    .body-text{font-size:var(--font-size); font-family: var(--font); text-decoration:none; color:var(--font-color)}
    .secondary-text{font-size:var(--font-size); font-family: var(--font); text-decoration:none; color:var(--font-color-secondary);}
    .body-title{font-size:var(--title-font-size); font-family: var(--font); text-decoration:none; color:var(--font-color);}
    
    
    .block{background-color:var(--background-color); width:var(--block-width); max-width:var(--block-max-width); height:var(--block-height); text-align:center; border-bottom-style:solid; border-color:var(--accent-color); border-width:var(--border-width); vertical-align:middle; overflow:hidden; position:relative; z-index:5;}
    .block-align-center{height:100%; display:flex; align-items:center; justify-content:center; z-index:1;}

    .section-button{/**float:center;**/ color:var(--font-color); font-family: var(--font); font-size:var(--font-size); background-color:var(--text-box-color); padding-top:30px; padding-bottom:30px; border-style:solid; border-color:var(--accent-color); border-width:var(--border-width); -webkit-transition:1s; z-index:5;}
    .section-button:hover, .section-button:active{background-color:var(--text-box-hover); padding:5px; padding-top:35px; padding-bottom:35px; -webkit-transition:1s;}
    .section-links{font-size:var(--title-font-size); font-family: var(--font); text-decoration:none; color:var(--font-color) line-height:100%; padding:30px;}
    .menu-image{position:absolute; z-index:2; min-height:var(--block-height); object-fit: cover; width:100%;}
    /*.block:hover .menu-image{height:600px;}*/
    
    .page-title{padding-top:calc(var(--block-height) / 4); padding-bottom:calc(var(--block-height) / 8); color:var(--font-color-pale); font-family: var(--font); font-size:var(--page-title-font-size); text-align:center; text-shadow: 2px 2px 7px var(--background-hover-color);}
    
    .portfolio-block{display:flex; flex-flow:row wrap; align-items:center; justify-content:center; background-color:var(--background-color); width:var(--block-width); max-width:var(--block-max-width); padding-top:var(--portfolio-block-padding); padding-bottom:var(--portfolio-block-padding); text-align:center; border-bottom-style:solid; border-color:var(--accent-color); border-width:var(--border-width); vertical-align:middle; overflow:hidden; position:relative; z-index:5;}
    .portfolio-container{width:25%; height:relative; float:center;}
    .portfolio-container-wide{width:50%; height:relative; float:center;}
    .portfolio-container-full-width{width:100%; height:relative; float:center;}
    .portfolio-image{margin:var(--portfolio-padding); width:calc(100% - var(--portfolio-padding) - var(--portfolio-padding)); height:relative;}
    .portfolio-text-box{background-color:var(--secondary-color); border-style:solid; border-color:var(--accent-color-2); border-width:var(--border-width); padding:20px; margin:var(--portfolio-padding);}
    @media only screen and (max-width: 768px) { /* For mobile phones: */
      [class*="portfolio-container"] {width: 50%;}
      [class*="portfolio-container-wide"] {width: 100%;}
      [class*="portfolio-container-full-width"] {width: 100%;}
    }

    .contact-links{color:var(--font-color-secondary); font-size:var(--font-size); font-family: var(--font); text-decoration:none; text-align:center; padding-bottom:40px; -webkit-transition:1s;}
    .contact-links:hover, .contact-links:active{color:var(--link-color-hover); -webkit-transition:1s;}
    
    #footer{width:100%; position:fixed; height:var(--footer-height); background-color:var(--background-color); z-index:1; text-align:center; bottom:0px;}
    .footer-links{color:var(--footer-font-color); font-size:var(--footer-font-size); font-family: var(--font); text-decoration:none; text-align:center; padding-left:20px; padding-right:20px; -webkit-transition:1s;}
    .footer-links:hover, .footer-links:active{color:var(--link-color-hover); -webkit-transition:1s;}
